<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">London-Ontario based Web Developer driven by passion and professionalism that wants to help your business grow. I work for clients all over the world, from building small presentation websites to complex web applications using the latest web development technology.</p>
  
</main>