<div class="app-card-container">
  	<div class="card">
		<main role="main" class="inner cover over-cover">
		  <h1 class="cover-heading">Would you like to work together?</h1>
		  <hr>
		  <div class="row">
		  	<div class="col-md-5">
			  <h3>Address</h3>
			  <p class="lead">544 Main ST. London Ontario</p>
			  <h3>Phone</h3>
			  <p><%= number_to_phone "5554347788" %></p>
			  <h3>Email</h3>
			  <p><a href="mailto:office@yahoo.com?subject=PortfolioContact" "email me">Email Me</a></p>
			</div>
			<div class="col-md-7">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2063.9539346424326!2d-81.25192399793772!3d42.98097734844581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882ef3cc6609a53f%3A0x48dff1819cc0df17!2sTilt%20Arcade%20Bar!5e0!3m2!1sen!2sca!4v1639445000790!5m2!1sen!2sca" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		  </div>
		</main>
	</div>
</div>