<h1>Pages#contact</h1>
<p><%= number_to_phone "5555555555" %></p>
<p><%= number_to_currency "145" %></p>
<p><%= number_to_percentage "22.4" %></p>
<p><%= number_with_delimiter "3478523569818273482" %></p>
